<div>
    <table>
      <tr>
        <td>Username:</td>
        <td><input [(ngModel)]="username" type="text" (keydown)="keyDown($event)"> </td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input [(ngModel)]="name" type="text" (keydown)="keyDown($event)"> </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td> <input [(ngModel)]="password" type="password" (keydown)="keyDown($event)"> </td>
      </tr>
  </table>
  <button (click)="addUser()">Register Up</button>
  </div>